/* Map container styling */
#map { 
    height: 600px;
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Custom Marker styling */
.custom-div-icon {
    background: transparent;
    border: none;
}

.custom-div-icon div {
    display: flex;
    align-items: center;
    justify-content: center;
}